/*
 * Приложение Z8 Template не содержит никаких специальных определений стилей CSS
 */
 
 .air .fieldset div.control {
 	height: auto;
 	overflow-wrap: break-word;
 	word-break: break-word;
 	display: flex;
 	flex-direction: column;
 }
 
 .air .fieldset div.control * {
 	word-break:break-word;
 }